body {
    padding: 2%;
    --green: #34816e;
    --brown: #473c1f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 10% 0 10%;
}
.intro {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.intro h5 {
    font-size: 21px;
}

.intro img {
    width: 18%;
    margin-bottom: 3%;
}
.filterItems {
    padding-top: 5%;
}

option {
    font-family: 'Lato', sans-serif;
}

.btn-login {
    position: absolute;
    right: 5px;
    background-color: var(--green);
    color: white;
    padding: 1% 5% 2% 5%;
    font-family: 'Lato', sans-serif;
}

.btn-submit {
    background-color: var(--brown);
    color: white;
    padding: 1% 5% 1% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
}