body {
    padding: 2%;
    --green: #34816e;
    --green-faded: rgba(52, 129, 110, 0.6);
    --white-faded: rgba(255, 255, 255, 0.6);
    --brown-faded: rgba(71, 60, 31, 0.6);
    --brown: #473c1f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: var(--brown);
}

p {
    font-family: 'Lato', sans-serif;
    color: var(--brown);
}

.container {
    padding: 0 10% 0 10%;
}
.intro {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1%;
}

.intro h1 {
    font-size: 32px;
}
.intro h5 {
    font-size: 18px;
    line-height: 30px;
}

h6 {
    font-size: 15px;
    color: var(--brown);
}

.intro img {
    width: 17%;
    margin-bottom: 3%;
}

.fa {
    color: var(--white-faded);
}

.fas {
    color: var(--brown-faded);
    border-color: var(--brown-faded);
    text-decoration: none;
}
.filterItems {
    padding-top: 5%;
}
select {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--brown);
}
#btnFavoriteList {
    position: absolute;
    right: 40%;
    background-color: grey;
    color: white;
    padding: 1% 5% 2% 5%;
    font-family: 'Lato', sans-serif;
    visibility: hidden;
    font-size: 14px;
}

#filterSubmit {
    background-color: var(--brown);
    color: white;
    padding: 1% 5% 1% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
}

/*
LOGIN/LOGOUT
*/
#btnLogin {
    position: absolute;
    right: 5px;
    background-color: var(--green);
    color: white;
    padding: 1% 5% 2% 5%;
    font-family: 'Lato', sans-serif;

}

#btnLogout {
    position: absolute;
    right: 5px;
    background-color: var(--brown);
    color: white;
    padding: 1% 5% 2% 5%;
    font-family: 'Lato', sans-serif;
    visibility: hidden;
    font-size: 14px;
}

.loginContainer {
    text-align: center;
    background-color: var(--green-faded);
    border-radius: 5%;
    margin-left: 38%;
    margin-right: 38%;
    padding: 5% 2% 5% 2%;
    box-shadow: 5px 5px 8px 0 var(--brown-faded), 0 5px 20px 0 var(--brown-faded);
}
.loginIntro h5 {
    color: white;
    margin-bottom: 15px;
}

.loginForm input {
    margin: 5px;
}

.loginImage {
    width: 50%;
    margin-bottom: 15%;
}

.loginForm .btn {
    background-color: var(--brown);
    color: white;
    padding: 1% 10% 1% 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
}

#loginResult {
    color: white;
}

#overlay {
    position: fixed; /* Sit in the middle of the page content */
    display: none; /* Hidden by default */
    width: 100%;
    height: 20%;
    top: 50%;
    left: 0;
    background-color: rgba(52, 129, 110, 0.8);
    z-index: 2;
}

#logoutMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 24px;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
}

.btn-circle:hover {
    color: hotpink;
}

.storeIMG {
    width: 60%;
}