body {
    padding: 2%;
    --green: #34816e;
    --green-faded: rgba(52, 129, 110, 0.6);
    --white-faded: rgba(255, 255, 255, 0.6);
    --brown-faded: rgba(71, 60, 31, 0.6);
    --brown: #473c1f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 10% 0 10%;
}
.intro {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.intro h5 {
    font-size: 21px;
}

.intro img {
    width: 18%;
    margin-bottom: 3%;
}

.fa {
    color: var(--white-faded);
}
.filterItems {
    padding-top: 5%;
}

option {
    font-family: 'Lato', sans-serif;
}

#btnLogin {
    position: absolute;
    right: 5px;
    background-color: var(--green);
    color: white;
    padding: 1% 5% 2% 5%;
    font-family: 'Lato', sans-serif;
}

#btnLogout {
    position: absolute;
    right: 5px;
    background-color: var(--brown);
    color: white;
    padding: 1% 5% 2% 5%;
    font-family: 'Lato', sans-serif;
    visibility: hidden;
}

#filterSubmit {
    background-color: var(--brown);
    color: white;
    padding: 1% 5% 1% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
}

.loginContainer {
    text-align: center;
    background-color: var(--green-faded);
    margin-left: 38%;
    margin-right: 38%;
    padding: 5% 2% 5% 2%;
    box-shadow: 5px 5px 8px 0 var(--brown-faded), 0 5px 20px 0 var(--brown-faded);
}

.loginIntro h5 {
    color: white;
    margin-bottom: 15px;
}
input {
    margin: 5px;
}

.loginImage {
    width: 50%;
    margin-bottom: 15%;
}

.loginForm .btn {
    background-color: var(--brown);
    color: white;
    padding: 1% 10% 1% 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
}

#loginResult {
    color: white;
}
